test
target
.fastembed_cache
Cargo.lock
gnome-extension/build
gnome-extension/shexli-report.json
llm.txt
logs.txt
.flatpak-builder
build-dir
dist
vendor
.cargo
generate-ppa-release-script.sh
release-ppa.sh
debian/
snap/
snapcraft.yaml
*.snap